__pycache__/

# PyCharm project files
.idea/
venv/
.vscode/

# File-based project format
*.iws

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Local media fiels
/app/media/
/app/static/

/app/celerybeat-schedule
